fastapi==0.121.2
uvicorn[standard]==0.38.0
httpx==0.28.1
beautifulsoup4==4.14.2
pydantic-settings==2.12.0
python-dotenv==1.2.1
llama-index==0.14.8
llama-index-vector-stores-postgres==0.7.1
psycopg[binary]==3.2.12
html2text==2025.4.15
markdownify==1.2.2
sentence-transformers==3.0.1
langchain==1.0.8
langchain-community==0.4.1
langchain-core==1.3.1
langchain-ollama==1.0.0
langgraph==1.3.1